<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>

    <label>Server Name</label>
    <!-- Local reference can be used only inside HTML #srvCtn> -->
    <input type="text" class="form-control" [(ngModel)]="newServerName" #srvName>
    
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" #srvCtn>
    <!-- <input type="text" class="form-control" #srvCtn> -->

    <br>
    <button
      class="btn btn-primary"
      (click)="onTriggerServer()">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onTriggerBlueprint()">Add Server Blueprint</button>

    <!-- BUTTON WILL USE LOCAL REFERENCE-->
    <button 
      class="btn btn-primary"
      (click)="onTriggerBlueprint(srvName, srvCtn)">Add Server via LOCAL</button> 
  </div>
</div>
